fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
pydantic-extra-types==2.11.1
pydantic-settings==2.5.2
pydantic_core==2.23.4
email-validator==2.3.0
python-dotenv==1.0.1
supabase==2.28.3
google-generativeai==0.8.3
numpy==2.2.6
google-api-python-client==2.191.0
youtube-transcript-api==0.6.2
requests==2.32.5
